*:before *:after {
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
}

.top-bar {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    box-shadow: 0 5px 5px grey;
}

.library {
    grid-area: 2 / 1 / 11 / 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2rem;
    padding: 2rem;
}