*:before *:after {
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}

.container {
    height: 100vh;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
}

.top-bar {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    box-shadow: 0 5px 5px grey;
}

.library {
    grid-area: 2 / 1 / 11 / 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2rem;
    padding: 2rem;
}

.btn {
    border: 1rem solid white;
    border-radius: 1rem;
    background-color: white;
}

.book-forum {
    position: absolute;
    height: 30rem;
    width: 25rem;
    border: 1px solid black;
    border-radius: 1rem;
    left: 37%;
    top: 20%;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.input {
    border: whit;
}